
.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
html {
    font-size: 62.5%;
}
body {
    background: #EFEFEF;
}
.row {
    display: flex;
    width: 100%;
}
.calendar {
    display: block;
    background: #FFFFFF;
    /* height: 560px; */
    border: solid 1px #CCCCCC;
    margin: 10px auto;
    font-size: 1.3rem;
    text-align: center;
}
.calendar header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: default;
    font-size: 1.4rem;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.calendar header .month-display {
    align-items: center;
    height: 40px;
    background: #28282a;
}
.calendar header .month-label {
    flex: 1;
}
.calendar header .arrow {
    text-align: center;
    flex-basis: 15%;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar header .arrow:hover {

}
.calendar .week {
    border-top: solid 1px #CCCCCC;
}
.calendar .week:first-child {
    border-top: none;
}
.calendar .day-names {
    color: #28282a;
    font-weight: bold;
    cursor: default;
    font-size: 1.2rem;
}
.calendar .day-names .day {
    cursor: default;
}
.calendar .day-names .day:hover {
    background: inherit;
}
.calendar .day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 35px;
    border-left: solid 1px #CCCCCC;
    cursor: pointer;
    transition: all 0.2s;
}
.calendar .day:hover {
    background: #EFEFEF;
}
.calendar .day:first-child {
    border-left: none;
}
.calendar .day.today {
    background: #dceaf8;
}
.calendar .day.different-month {
    color: #C0C0C0;
}

.calendar .day.selected {
    background: #2f63af;
    color: #FFFFFF;
}

.row.week span{
    height: 95px;
}



.arrow.fa.fa-angle-right {
    
    position: absolute;
    border: solid transparent;
    border-width: 0 0 35px 35px;
    transition: -24s;
    width: 1px;
    height: 1px;
    float:right;
    /* float: left; */
    padding: 10px;
    right: 0; 

    box-shadow: 1px -1px 0 1px white inset;
    /* transform: rotate(45deg); */
    transform: rotate(225deg);


}
