.popup-content {
    width: 80% !important;
    min-width: 300px;
    height: auto;
}

.popup_wrapper {
    font-size: large;
    user-select: none;
    color: #333333;
}

.popup_wrapper > header {
    text-align: center;
}

.popup_wrapper h1 {
    color: #333333;
    font-weight: bold;
    background-color: white;
}

/* Close Button */
.popup_wrapper .close {
    position: absolute;
    right:  -8px;
    top:    -8px;
    font-size: xx-large;
    padding: 0em 0.25em;
    margin: 0;
    color: rgba(4, 4, 4, 0.2);
    border: solid medium rgba(4, 4, 4, 0.2);
    cursor: pointer;
    transition: top 1s;
}

.popup_wrapper .close:hover {
    color: rgba(4, 4, 4, 0.5);
    border: solid medium rgba(4, 4, 4, 0.5);
}

/*------------------------------------*/

.popup_wrapper form {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
}

.popup_wrapper form > fieldset {
    width: 45%;
    padding: 10px;
}

/*------------------------------------*/

.import_file {
    height: 200px;
    border: none;
}

.mode {
    position: relative;
    margin: 1% auto;
    cursor:pointer;
    text-decoration: none;
    font-weight: bold;
    background-color: #f9f6f4;
    font-size: 22px;
    border-radius: 5px;
    transition: all .1s ease-in-out;
    border: solid thin black;
    font-family: sans-serif;
    color: #333333;
}

.mode:hover {
    background-color: #eae7e5;
}

.mode:active {
    background-color: #dddad8;
    top: 2px;
    right: -1px;
}


#calFile {
    display: block;
    height: 47%;
    width: 100%;
    text-align: center;
    line-height: 95px;
}

#calGoogle {
    height: 47%;
    width: 100%;
    /*background: url("./btn_google_signin_dark_normal_web@2x.png") no-repeat center;
    background-size: contain;*/

}

#calGoogle:active{
    /*background-image: url("./btn_google_signin_dark_pressed_web@2x.png");*/
}

/*------------------------------------*/
.import_option label {
    line-height: 2em;
    font-weight: bold;
    color: #333333;
}

.import_option output {
    text-decoration: underline;
    color: #215c88;
    cursor: pointer;
}

#time_offset > label, #time_range > label {
    margin-left: 20px;
    font-style: italic;
}

#import_days {
    margin: 1em 0 0 0;
    padding: 0;
}

#import_days input {
    display: none;
}

#import_days > input + label{
    border: black thin solid;
    display: inline-block;
    background-color: #f9f6f4;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    margin: 0 2%;
    border-radius:5px;
    text-align: center;
    cursor: pointer;
}
#import_days > input:checked + label{
    background: #6fa9cb;
    color: white;
}

/*------------------------------------*/

#import_output {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    border: none;
}


/* To keep or not */
#out {
    margin: 7px 0 0 0;
    font-size: small;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

#import_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#import_submit {
    position: relative;
    background-color: rgb(68,128,175);
    border: none;
    color: white;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-size: large;
    cursor: pointer;
    width: 200px;
}

#import_submit:hover {
    background-color: #2f63af;
}

#import_submit:active {
    top: 2px;
    right: -1px;
}

#import_submit:disabled {
    background-color: rgba(68,128,175, 0.5);
    pointer-events: none;
}

#import_reset {
    border: none;
    background-color: transparent;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-size: smaller;
    cursor: pointer;
    margin-left: 2em;
}

#import_reset:hover {
    color: black;
}

/*------------------------------------*/

@media (max-width: 850px){
    form {
        display: block;
    }
    fieldset {
        width: 90% !important;
        margin: 5px auto;
    }
}

input[type="file"] {
    display: none;
}
