.popup-content {
    width: 100px !important;
    height: auto;
}

#import_schedule {

}

/* Close Button */
#import_close {
    position: absolute;
    right:  0;
    top:    0;
    font-size: xx-large;
    padding: 0em 0.25em;
    margin: 0;
    color: rgba(4, 4, 4, 0.1);
    cursor: pointer;
    transition: top 1s;
}

#import_close:hover {
    color: rgba(4, 4, 4, 0.5);
}

/*------------------------------------*/

.import_file {
    height: 200px;
    border: none;
}

#calFile {
    height: 47%;
    width: 100%;
    margin-bottom: 10px;
}

#calGoogle {
    height: 47%;
    width: 100%;
    margin-bottom: 10px;
}

/*------------------------------------*/
.import_option label {
    line-height: 2em;
    font-weight: bold;
    color: #333333;
}

.import_option output {
    text-decoration: underline;
    color: #215c88;
    cursor: pointer;
}

#import_output {
    display: block;
    width: 100%;
    border: none;
    text-align: center;
}

#out {
    font-size: larger;
    font-weight: bold;
    overflow: hidden;
}

#import_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#import_submit {
    position: relative;
    background-color: rgb(68,128,175);
    border: none;
    color: white;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-size: large;
    cursor: pointer;
    width: 200px;
}

#import_submit:hover {
    background-color: #2f63af;
}

#import_submit:active {
    top: 2px;
    right: -1px;
}

#import_submit:disabled {
    background-color: rgba(68,128,175, 0.5);
    pointer-events: none;
}

/*------------------------------------*/

@media (max-width: 850px){
    form {
        display: block;
    }
    fieldset {
        width: 90% !important;
        margin: 5px auto;
    }
}

input[type="file"] {
    display: none;
}
